<header>
    <div class="header-inner">
        <div class="logo">
            <a href="//bugtags.com">
                <i class="icon-logo"></i>
            </a>
        </div>
        <div class="global-nav">
            <ul>
                <li>
                    <a href="//bughook.com">
                        <i class="icon-dashboard"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="//bugtags.com/enterprise.html">
                        <i class="icon-enterprise"></i>
                        <span>企业版</span>
                    </a>
                </li>
                <li>
                    <a href="/start/integrate/index.html">
                        <i class="fa icon-download"></i>
                        <span>下载 SDK</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="icon-help"></i>
                        <span>帮助中心</span>
                    </a>
                </li>
                <li class="register">
                    <a href="//bughook.com/login.html?type=register">
                        <i class="icon-user"></i>
                        <span>注册</span>
                    </a>
                </li>
                <li class="log">
                    <a href="//bughook.com/login.html">
                        <i class="icon-user"></i>
                        <span>登录</span>
                    </a>
                </li>
                <li class="user" style="display: none"></li>
            </ul>
        </div>
    </div>
</header>
