{% extends template.self %}


{% block description %}
    {% if page.description %}
        {{ page.description }}
    {% elif page.content %}
        {{ page.content|striptags }}
    {% else %}
        {{ config.description }}
    {% endif %}
{% endblock %}


{% block head %}
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords|join(',') }}{% else %}{{ 'bug使用教程,bug集成方式,Android崩溃,iOS崩溃,bug管理' }}{% endif %}">

    <link rel="shortcut icon" href="//dn-bts.qbox.me/frontend/img/favicon.ico">
    <link href="//dn-bts.qbox.me/home/apple-touch-icon-64x64.png" rel="apple-touch-icon">
    <link href="//dn-bts.qbox.me/home/apple-touch-icon-64x64.png" sizes="64x64" rel="apple-touch-icon">
    <link href="//dn-bts.qbox.me/home/apple-touch-icon-152x152.png" sizes="152x152" rel="apple-touch-icon">
    <link rel="mask-icon" sizes="any" color="#007FEB" href="//dn-bts.qbox.me/home/safari-pin-tab-icon.svg">
    {% if page.next and page.next.path %}
    <link rel="next" href="{{ page.next.path|resolveFile }}" />
    {% endif %}
    {% if page.previous and page.previous.path %}
    <link rel="prev" href="{{ page.previous.path|resolveFile }}" />
    {% endif %}
{% endblock %}


{% block book_summary %}
<nav role="navigation" class="summary">
    {% include "./sidenav.html" %}
</nav>
<div class="thanks">
    <div class="logo">
        <a href="//bughook.com" target="_blank">
            <i class="icon-logo"></i>
        </a>
        <a href="https://gitbook.com" target="_blank" class="gitbook">
            <img src="https://ek8whxe.cloudimg.io/s/width/34/https://www.gitbook.com/assets/images/logo/128.png?v=15.2.0" alt="">
            Gitbook
        </a>
    </div>
    Bugtags 帮助中心由 <a href="https://www.gitbook.com/">Gitbook</a> 强力驱动
</div>
{% endblock %}


{% block body %}
    <div class="body-wrapper">
        {% include "./global-header.html" %}
        {{ super() }}
    </div>
{% endblock %}


{% block search_input %}
<div id="book-search-input" role="search">
    <input type="text" placeholder="搜索 Bugtags" />
</div>
{% endblock %}

{% block search_results %}
<div id="book-search-results">
    <div class="search-noresults">
    {{ super() }}
    </div>
    <div class="search-results">
        <div class="has-results">
            {% block search_has_results %}
            <h1 class="search-results-title">“<span class="search-query"></span>”相关的搜索结果</h1>
            <ul class="search-results-list"></ul>
            {% endblock %}
        </div>
        <div class="no-results">
            {% block search_no_results %}
            <h1 class="search-results-title">没有找到“<span class="search-query"></span>”相关的搜索结果</h1>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
