@font-face {
  font-family: 'icomoon';
  src: url('//dn-bts.qbox.me/home/fonts/icomoon.eot?-a5xwvy');
  src: url('//dn-bts.qbox.me/home/fonts/icomoon.eot?#iefix-a5xwvy') format('embedded-opentype'), url('//dn-bts.qbox.me/home/fonts/icomoon.ttf?-a5xwvy') format('truetype'), url('//dn-bts.qbox.me/home/fonts/icomoon.woff?-a5xwvy') format('woff'), url('//dn-bts.qbox.me/home/fonts/icomoon.svg?-a5xwvy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-logo-en:before {
  content: "\e97e";
}
.icon-js-sdk:before {
  content: "\e902";
}
.icon-qrcode:before {
  content: "\e95f";
}
.icon-enterprise:before {
  content: "\e973";
}
.icon-firefox:before {
  content: "\e901";
}
.icon-opera:before {
  content: "\e968";
}
.icon-chrome:before {
  content: "\e959";
}
.icon-safari:before {
  content: "\e95a";
}
.icon-android:before {
  content: "\e957";
}
.icon-apple:before {
  content: "\e947";
}
.icon-web:before {
  content: "\e94c";
}
.icon-up:before {
  content: "\e943";
}
.icon-down:before {
  content: "\e948";
}
.icon-left:before {
  content: "\e94d";
}
.icon-right:before {
  content: "\e952";
}
.icon-check:before {
  content: "\e92e";
}
.icon-success:before {
  content: "\e945";
}
.icon-close:before {
  content: "\e900";
}
.icon-error:before {
  content: "\e94a";
}
.icon-download:before {
  content: "\e93f";
}
.icon-search:before {
  content: "\e940";
}
.icon-dashboard:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e90d";
}
.icon-help:before {
  content: "\e91f";
}
.icon-git-hub:before {
  content: "\e603";
}
.icon-qq:before {
  content: "\e608";
}
.icon-wechat:before {
  content: "\e60b";
}
.icon-weibo:before {
  content: "\e60c";
}
.icon-logo:before {
  content: "\e600";
}
.icon-logo-o:before {
  content: "\e607";
}
.icon-player:before {
  content: "\e97a";
}
#book-search-results .search-results {
  display: none;
}
.body-wrapper {
  width: 100%;
  height: 100%;
}
header {
  background: #007feb;
  color: #fff;
}
header .header-inner {
  width: 100%;
  padding: 0 10px;
  margin: auto;
  *zoom: 1;
}
header .header-inner:before,
header .header-inner:after {
  content: " ";
  display: table;
  line-height: 0;
}
header .header-inner:after {
  clear: both;
}
header .header-inner .logo {
  float: left;
}
header .header-inner .logo a {
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
header .header-inner .logo a i {
  font-size: 40px;
  color: #fff;
  margin-top: 5px;
  display: inline-block;
}
header .header-inner .global-nav {
  float: right;
}
header .header-inner .global-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .header-inner .global-nav ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-left: 15px;
}
header .header-inner .global-nav ul li a {
  font-size: 14px;
  padding-bottom: 3px;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: border .6s;
}
header .header-inner .global-nav ul li a i {
  display: none;
}
header .header-inner .global-nav ul li a img {
  height: 19px;
  top: 5px;
  position: relative;
  right: 3px;
}
header .header-inner .global-nav ul li a:hover {
  border-bottom: 1px solid #eee;
  transition: border .6s;
}
@media (max-width: 525px) {
  header .header-inner .global-nav ul li a i {
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 16px;
  }
  header .header-inner .global-nav ul li a span {
    display: none;
  }
}
.book-summary .thanks {
  font-size: 11px;
  text-align: center;
  padding: 30px 0;
  color: #aaa;
}
.book-summary .thanks a {
  color: #888;
  text-decoration: underline;
}
.book-summary .thanks .logo {
  text-align: center;
}
.book-summary .thanks .logo a {
  text-decoration: none;
  display: inline-block;
}
.book-summary .thanks .logo a i {
  font-size: 35px;
  color: #007feb;
}
.book-summary .thanks .logo a.gitbook {
  position: relative;
  font-size: 15px;
}
.book-summary .thanks .logo a.gitbook img {
  height: 20px;
  position: relative;
  top: 0;
  left: 10px;
  display: block;
}
.comments-area {
  margin-top: 50px;
}
